* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha ao topo */
    padding-top: 150px; /* Ajusta a distância do topo */
}

.container {
    border: 1px solid white;
    border-radius: 5px;
    height: auto;
    background-color: rgb(199, 179, 179);
    width: 43%; /* Ajusta a largura ao tamanho do contêiner pai */
    padding: 10px; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column;

    
}

.impres {
    height: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.impres img {
    width: 60px;
    height: 40px;
    margin-top: 1px;
}

#generate-pdf {
    width: 200px;
    height: 30px;
}

#generate-pdf:hover {
    background-color: red;
    color: white;
}

.caixa1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#textoInput {
    width: 97%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 25px;
}

.botao-enviar {
    width: 80px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 0; /* Remove margem esquerda */
}

.botao-enviar:hover {
    background-color: red;
    color: white;
}

#botao-limpar {
    width: 150px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

#botao-limpar:hover {
    background-color: red;
    color: white;
}

#colunaPalavras {
    border: 1px solid white;
    border: none;
    width: auto;
    font-size: 15px;
    height: auto;
    background-color: white;
    color: black;
    counter-reset: item;
    margin-bottom: 30px;
    margin-right: 18px;
}

#colunaPalavras p {
    counter-increment: item;
}

#colunaPalavras p::before {
    content: counter(item) ". ";
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    cursor: pointer;
    margin: auto;
}

.suggestion-item {
    padding: 8px;
    text-transform: uppercase;
}

.suggestion-item:hover {
    background-color: blue;
}

.highlight {
    background-color: blue; /* Cor de fundo quando o item está selecionado */
    color: white; /* Cor do texto quando o item está selecionado */
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-container p {
    flex-grow: 1;
}

.encomenda-checkbox {
    margin-right: 10px;
}

.item-container button {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.item-container button:hover {
    background-color: darkred;
}

.quantidade-input {
    width: 50px;
    margin-left: 5px;
}

.linha {
    display: inline-block;
    width: 70%; /* Ajuste o tamanho conforme necessário */
    border-bottom: 1px solid black;
    margin: 0 5px; /* Ajuste o espaçamento conforme necessário */
    vertical-align: middle;
}

.quantidade-text {
    display: inline-block;
    vertical-align: middle;
}



@media (max-width: 768px) {
    .container {
        width: 100%; /* Largura total em telas menores */
    }

    #textoInput {
        width: 100%; /* Largura total em telas menores */
    }

    .botao-enviar {
        width: 100%; /* Largura total do botão em telas menores */
        margin-left: 0; /* Remove margem esquerda */
    }
}













